* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "DM Sans";
    background-color: #043873;
}

.navbar {
    display: flex;
    margin-inline: 100px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
}

.navbar li {
    padding: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

.yellow-btn {
    background-color: #FFE492;
    padding: 16px 40px;
    border-radius: 8px;
}

.btn {
    font-weight: bold;
    color: #fff;
}

.navbar .yellow-btn {
    color: black;
}

.blue-btn {
    background-color: #4F9CF9;
    padding: 16px 40px;
    border-radius: 8px;
    align-self: flex-start;
}

.blue-btn img {
    background-color: transparent;
}

.w-bg {
    background-image: url(../assets/background-svg.svg);
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-text {
    width: 656px;
    height: 361px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.hero-text h1 {
    font-size: 64px;
}

#hero-img {
    width: 800px;
}

.container h1 {
    color: #fff;
    size: 64px;
    display: block;
    font-weight: 600;
    font-family: "Inter";
    margin: 15px;
}

.container p {
    color: #fff;
    font-style: italic;
    font-size: 18px;
    font-family: "Inter";
    margin: 15px;
}

.xl-container {
    height: 150vh;
    background-color: #Fff;
    background-image: url(../assets/BACKGROUND.png);
    background-repeat: no-repeat;
    background-position: 0% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.xl-container h1 {
    font-size: 72px;
    width: 50%;
}

.xl-container p {
    margin: 25px auto;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: normal;
}

.headline-m {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headline h1 {
    margin: 0;
}

.white-h1 {
    color: white;
    font-size: 72px;
}

.headline:last-child {
    margin: 40px;
}

.headline .btn {
    display: block;
}

.headline p {
    margin: 10px;
}

.content {
    max-width: 1480px;
    max-height: 547px;
    display: flex;
    align-items: center;
}

.xs-container-blue{
    background-color: #043873;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.xs-container-blue p{
    color: #Fff;
    margin: 20px;
}

.xs-container-white{
    height: 75vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.xs-container-white img{
    max-width: 600px;
    margin-right: 80px;
}

.black-h1 {
    color: black;
    font-size: 72px;
}

.headline-m p {
    margin: 20px 0;
}

.container-gray {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    height: 120vh;
    justify-content: space-evenly;
    align-items: center;
}

.plan-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.plan-header h1 {
    font-size: 72px;
}

.white-card {
    border: solid  2px;
    border-color:  #FFE492 ;
    background-color: white;
    margin-right: 20px;
    padding: 30px;
    border-radius: 16px;
    height: 634px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blue-card {
    background-color: #043873;
    padding: 0 30px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 761px;
    justify-content: space-around;
    margin-right: 20px;
}


.blue-card p {
    color: white;
}

.blue-card ul {
    color: white;
    list-style-type: none;
}
.blue-card .price {
    color: #FFE492;
    list-style-type: none;
}

.white-card ul {
    list-style-type: none;
}

.price-text {
    font-weight: bold;
    font-size: 24px;
}

.price {
    font-weight: bold;
    font-size: 36px;
}

.plan-cards {
    display: flex;
    justify-content: space-between;
    
}

.white-card a {
    background-color: #fff;
    padding: 16px 40px;
    border: solid #FFE492 1px;
    border-radius: 16px;
    align-self: flex-start;
    color: black;
}

.xxs-container-white{
    height: 50vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

#sponsors-section{
    flex-direction: column;
    padding: 2rem 0;
}

#sponsors-section h1 {
    margin-bottom: 5rem;
}

.xxs-container-blue{
    height: 50vh;
    background-color: #043873;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.xxs-container-blue .headline-m {
    width: 80%;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
}

.xxs-container-white h1{
    font-size: 64px;
    color: black;
}

/* .xxs-container-white img{
    width: 80%;
} */

#taskkey-btn {
    margin-left: 200px;
}

#apps-section {
    display: flex;
    justify-content: space-around;
}

#apps-section .headline-m{
    max-width: 50%;
    margin: 5rem;
}

.container-95vh {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: white;
}

.container-95vh h1 {
    font-size: 70px;
    margin: 3rem;
}

.container-95vh .card-row{
    height: 500px;
    width: 1500px;
    display: flex;
    justify-content: space-between;
}

.testimony-white, .testimony-blue{
    width: 475px;
    height: 500px;
    border: solid 2px #4F9CF9;
    padding: 2rem;
    border-radius: 16px;
}

.testimony-blue{
    background-color: #4F9CF9;
}

.testimony-blue img, p {
    padding-top: 20px;
}


.testimony-blue div img {
    display: block;
    max-width: 95px;
    max-height: 95px;
    margin-right: 50px;
}

.testimony-blue div {
    display: flex;
    justify-content: space-around;
}

.testimony-blue p {
    font-size: 18px;
    color: white;
    margin-bottom: 40px;
}

.testimony-blue hr {
    margin-bottom: 30px;
}

.testimony-blue div div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.testimony-white img, p {
    padding-top: 20px;
}


.testimony-white div img {
    display: block;
    max-width: 95px;
    max-height: 95px;
    margin-right: 50px;
}

.testimony-white div {
    display: flex;
    justify-content: space-around;
}

.testimony-white p {
    font-size: 18px;
    color: black;
    margin-bottom: 40px;
}

.testimony-white hr {
    margin-bottom: 30px;
}

.testimony-white div div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#stepper {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.circle {
    height: 10px;
    width: 10px;
    background-color: #4F9CF9;
    border-radius: 100%;
    margin: 5px;
}

.container-70vh {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-70vh a {
    align-self: center;
    margin: 2rem 0;
}

.container-70vh h1 {
    font-size: 70px;
    color: white;
}

.container-70vh p {
    color: white;
}

#platforms {
    margin: 2rem 0;
}

#footer {
    height: 30vh;
    border-top: solid white 1px;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    align-items: center;
    width: 100%;
}

.footer-content {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.footer-content ul {
    list-style-type: none;
    color: white;
    font-size: 14px;
}

#logo-text {
    max-width: 13%;
    color: white;
}

.final-heading {
    color: white;
    float: right;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.final-heading a {
    justify-content: space-evenly;
    align-self: self-start;
    gap:2rem;
    margin: 2rem;
}

#last-div {
    border-top: solid 1px gray;
    justify-content: space-between;
    display: flex;
    align-items: center; 
    padding: 0 24px; 
    color: white;
    font-size: 14px;
    gap: 24px; 
    max-width: 80%;
}

#last-div p, #last-div img {
    margin: 0; 
}

#last-div ul {
    display: flex;
    gap: 24px; 
    padding: 0; 
    margin: 0; 
}

#last-div li {
    list-style-type: none;
    margin: 0;
}

#socials {
    margin-left: auto;
}

#last-div p:has(img) {
    display: flex;
    align-items: center;
    gap: 4px; 
}