* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "DM Sans";
    background-color: #043873;
}

.navbar {
    display: flex;
    margin-inline: 100px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
}

.navbar li {
    padding: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

.yellow-btn {
    background-color: #FFE492;
    padding: 16px 40px;
    border-radius: 8px;
}

.btn {
    font-weight: bold;
    color: #fff;
}

.navbar .yellow-btn {
    color: black;
}

.blue-btn {
    background-color: #4F9CF9;
    padding: 16px 40px;
    border-radius: 8px;
    align-self: flex-start;
}

.blue-btn img {
    background-color: transparent;
}

.w-bg {
    background-image: url(../assets/background-svg.svg);
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-text {
    width: 656px;
    height: 361px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.hero-text h1 {
    font-size: 64px;
}

#hero-img {
    width: 800px;
}

.container h1 {
    color: #fff;
    size: 64px;
    display: block;
    font-weight: 600;
    font-family: "Inter";
    margin: 15px;
}

.container p {
    color: #fff;
    font-style: italic;
    font-size: 18px;
    font-family: "Inter";
    margin: 15px;
}

.xl-container {
    height: 150vh;
    background-color: #Fff;
    background-image: url(../assets/BACKGROUND.png);
    background-repeat: no-repeat;
    background-position: 0% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.xl-container h1 {
    font-size: 72px;
    width: 50%;
}

.xl-container p {
    margin: 25px auto;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: normal;
}

.headline-m {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headline h1 {
    margin: 0;
}

.white-h1 {
    color: white;
    font-size: 72px;
}

.headline:last-child {
    margin: 40px;
}

.headline .btn {
    display: block;
}

.headline p {
    margin: 10px;
}

.content {
    max-width: 1480px;
    max-height: 547px;
    display: flex;
    align-items: center;
}

.xs-container-blue{
    background-color: #043873;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.xs-container-blue p{
    color: #Fff;
    margin: 20px;
}

.xs-container-white{
    height: 75vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.xs-container-white img{
    max-width: 600px;
    margin-right: 80px;
}

.black-h1 {
    color: black;
    font-size: 72px;
}

.headline-m p {
    margin: 20px 0;
}

.container-gray {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    height: 120vh;
    justify-content: space-evenly;
    align-items: center;
}

.plan-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.plan-header h1 {
    font-size: 72px;
}

.white-card {
    border: solid  2px;
    border-color:  #FFE492 ;
    background-color: white;
    margin-right: 20px;
    padding: 30px;
    border-radius: 16px;
    height: 634px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blue-card {
    background-color: #043873;
    padding: 0 30px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 761px;
    justify-content: space-around;
    margin-right: 20px;
}


.blue-card p {
    color: white;
}

.blue-card ul {
    color: white;
    list-style-type: none;
}
.blue-card .price {
    color: #FFE492;
    list-style-type: none;
}

.white-card ul {
    list-style-type: none;
}

.price-text {
    font-weight: bold;
    font-size: 24px;
}

.price {
    font-weight: bold;
    font-size: 36px;
}

.plan-cards {
    display: flex;
    justify-content: space-between;
    
}

.white-card a {
    background-color: #fff;
    padding: 16px 40px;
    border: solid #FFE492 1px;
    border-radius: 16px;
    align-self: flex-start;
    color: black;
}

.xxs-container-white{
    height: 50vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

#sponsors-section{
    flex-direction: column;
    padding: 2rem 0;
}

#sponsors-section h1 {
    margin-bottom: 5rem;
}

.xxs-container-blue{
    height: 50vh;
    background-color: #043873;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.xxs-container-blue .headline-m {
    width: 80%;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
}

.xxs-container-white h1{
    font-size: 64px;
    color: black;
}

/* .xxs-container-white img{
    width: 80%;
} */

#taskkey-btn {
    margin-left: 200px;
}